@layout('admin.layouts.app')

@section('content')
<div class="col-sm-12">
  <ol class="breadcrumb float-sm-left">
    <li class="breadcrumb-item"><a href="{{ route('admin.dashboard') }}">Trang chủ</a></li>
    <li class="breadcrumb-item active">Thiết lập</li>
  </ol>
</div>

<div class="col-12 mt-3">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Thiết lập</h1>
    </div>
  </div>
</div>
@endsection
